* {
	box-sizing: border-box;
}
body {
	background-color: white;
    font-family: Brushstroke, fantasy;;
}
h1 {
	text-align: center;
}
p {
	padding: 15px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
}
section {
	border:	1px solid black;
	background-color: #999999;
	width: 100%;
	height: 260px;
	font-family: Georgia;
	position: relative;
	overflow: auto;
}
.chicken ,.beef,.sushi  {
    font-size: 125%;
	border: 1px solid black;
	text-align: center;
    color: aliceblue;
	width: 30%;
	margin-left: 70%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #D89798;
    font-family: Georgia,sans-serif;
}
.beef {
	background-color: 	#C34341;
}
.sushi {
	background-color: #E7CF91;
    color: black;
}
.row {
	width: 100%;
}
/* Desktop PC view */

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/* Cell phone view */
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}